body {background: Aliceblue;}
h1 {font-size: 65px; color: hotpink; text-align: center;}
h2 {font-size: 47px; color: lightpink;text-align: center}
p2 {font-size: 47px; color: hotpink;}
h3 {font-size: 35px; color: #9999CC;}
p {font-size: 19px; line-height: 180%;}
figcaption{font-size: 19px; line-height: 250%;}